*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;

	text-decoration-line: none;
}

.clear{
	clear: left;
}


/****メニュー全体****/

#menu1{
	/*配置*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 100;
}


/****メニュー開閉ボタン****/
#menu1 div{
	/*デザイン*/
	width: 30%;
	height: 80px;
	background:;
	/*配置*/
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration-line: none;
}

#menu1 .menu1open{
	/*デザイン*/
	color: rgba(255,255,255,1);
	font-size: 20px;
	/*配置*/
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top:20%;
  left:15%;
	pointer-events: auto;
	font-size: 2.5rem;
}

#menu1 .menu1close{
	/*デザイン*/
	color: rgba(255,255,255,1);
	font-size: 20px;
	/*配置*/
	display: none;

  width: 100%;
	height: 100%;
	position: absolute;
	top:20%;
  left:;
	pointer-events: auto;
	font-size: 2.5rem;

}

/****メニュー一覧****/
#menu1 ul{
	/*アニメーション*/
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	/*デザイン*/
	background-color: black;
	width: 80%;
  height: 100vh;
	/*配置*/
	position: absolute;
	top: 0;/*#menu1 divの高さ*/
	left: -100%;/*#menu1 ul(メニュー一覧)の幅*/
	color:white;
	text-decoration-line: none;
}

#menu1 li{
	/*デザイン*/
  line-height: 80px;
  padding-left: 10%;
  height: 80px;
	color: white;
	border-bottom: 1px rgba(255,255,255,0.5) solid;
	/*配置*/
	pointer-events: auto;
  position: relative;
  text-decoration-line: none;
}
.link:visited{
  color: white;
}
.link{
	color:white;
}

/****メニューオープン時****/
#menu1:target .menu1open{
	/*配置*/
	display: none;
}

#menu1:target .menu1close{
	/*配置*/
	display: block;
}

#menu1:target ul{
	/*配置*/
	left: 0;
}




.image {
    position:relative;
    overflow:hidden;
    width:100%;
    height:100vh;
    background-color: gray;
}

.mainpic{
    position:absolute;
    left:50%;
    max-width:1400px;
    margin-left:-700px;
		z-index: 1;

}
.half-black{
	position:absolute;
    width:100%;
    height: 100vh;
    z-index: 2;
    background-color: rgba(1,1,1,0.5);
}
.kurologo{
    height: 30%;
    z-index: 3;
    text-align: center;
		position: absolute;
		position: absolute;
	  top:0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  margin:auto;
}

.yoyaku{

	padding:20px 18px;
	max-width:200px;
	background-color: rgba(180,0,0,1);
	z-index: 99;
	text-align: center;
	position: fixed;
	top:10px;
	right: 10px;
	margin:auto;


	font-size: 1.0rem;
	color:white;
	line-height: 5%;
}

/*============================*/

.about {
    position:relative;
    overflow:hidden;
    width:100%;
    height:100vh;
    background-color: brown;
}

.about img {
    position:absolute;
    left:50%;
    max-width:1400px;
    margin-left:-700px;
}
